@import "../bootstrap-4.0.0-alpha.6/scss/bootstrap";
@import "../bootstrap-4.0.0-alpha.6/scss/variables";
*{
	margin: 0px;
	padding: 0px;
}
body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    color: #292b2c;
}

#parent {
	position: relative;
	background: red;
	top: 50px;
	width: 100px;
	height: 700px;
	padding-top: 20px;
	padding-bottom: 20px;

}
#child {
	position: relative;
	background: yellow;
	width: 100px;
	height: 100px;
	/*top: 20px;*/

}
#con2{
	position: fixed;
	background: yellow;
	width: 100px;
	height: 100px;
	top: 20px;
}
#con3{
	position: relative;
	background: yellow;
	width: 100px;
	height: 100px;
	top: 380px;


}
.col-lg-10{
	max-width: 80%;
	flex: 0 0 80%;
	padding-left: 20px;
	padding-right: 100px;
}
